
out
kernel_log*.txt
*.gz
*.gz*
drivers/input/sensors/smi130/modules.order
include/generated/autoksyms.h
scripts/basic/.fixdep.cmd
scripts/basic/fixdep
scripts/basic/modules.order
scripts/kconfig/.conf.cmd
scripts/kconfig/.conf.o.cmd
scripts/kconfig/.zconf.tab.o.cmd
scripts/kconfig/conf
scripts/kconfig/conf.o
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/kconfig/zconf.tab.o
security/samsung/defex_lsm/defex_packed_rules.inc
security/samsung/defex_lsm/pack_rules
